# Filtering student information with Pandas
Suppose you have a dataframe, df, with the following records:  

| Age | Favorite color | Grade | Name             |
|-----|----------------|-------|------------------|
| 20  | blue           | 88    | Willard Morris   |
| 19  | blue           | 95    | Al Jennings      |
| 22  | yellow         | 92    | Omar Mullins     |
| 21  | green          | 70    | Spencer McDaniel |

The dataframe is showing information about students. Write code using Python Pandas to select the rows where the students' favorite color is green or yellow and their grade is between 85-95 (inclusive).

## Create dataframe

In [8]:
import pandas as pd
student = {'Age':[20, 19, 22, 21], 'Favorite_color':['blue','blue','yellow','green'], 
           'Grade':[88,95,92,70], 'Name':['Willard Morris','Al Jennings','Omar Mullins','Spencer McDaniel']}
df = pd.DataFrame(data=student)
df

   Age Favorite_color  Grade              Name
0   20           blue     88    Willard Morris
1   19           blue     95       Al Jennings
2   22         yellow     92      Omar Mullins
3   21          green     70  Spencer McDaniel

## Filtering students information

In [9]:
df.query('(Favorite_color == "yellow" or Favorite_color == "green") and (Grade >= 85 and Grade <= 95)')

   Age Favorite_color  Grade          Name
2   22         yellow     92  Omar Mullins